In [1]:
mystring = 'hello'

In [2]:
mylist = []

In [6]:
for letter in mystring:
    mylist.append(letter)

In [7]:
mylist

['h', 'e', 'l', 'l', 'o']

In [8]:
mylist = [letter for letter in mystring]

In [9]:
mylist

['h', 'e', 'l', 'l', 'o']

In [10]:
mylist = [x for x in 'word']

In [11]:
mylist

['w', 'o', 'r', 'd']

In [12]:
mylist = [aligholi for aligholi in 'gholiali']

In [13]:
mylist

['g', 'h', 'o', 'l', 'i', 'a', 'l', 'i']

In [14]:
range(3,10)

range(3, 10)

In [15]:
mylist = [a for a in range(0,11)]

In [16]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
for num in range(0,10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [18]:
for num in range(0,10):
    mylist.append(num)

In [19]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
mylist =[a for a in range(0,10)]

In [21]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
mylist = [num**2 for num in range(0,11)]

In [23]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [24]:
mylist =[]

In [26]:
for num in range(0,11):
    mylist.append(num**2)

In [27]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [28]:
mylist =[]

In [29]:
mylist =[x for x in range(0,11) if x%2 == 0]

In [30]:
mylist

[0, 2, 4, 6, 8, 10]

In [31]:
celcius = [0,10,20,34.5]

In [32]:
fahrenheit = [((9/5)*temp +32) for temp in celcius]

In [33]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [34]:
fahrenheit = []

In [35]:
for temp in celcius:
    fahrenheit.append((9/5)*temp +32)

In [36]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [37]:
results = [x if x%2 == 0 else 'ODD' for x in range(0,11)]

In [38]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [46]:
mylist =[]

In [47]:
#nested loop

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [48]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [49]:
mylist = [x*y for x in [2,4,6] for y in [1,10,100]]

In [50]:
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [51]:
mylist = [1,2,3]

In [52]:
mylist.append(4)

In [53]:
mylist

[1, 2, 3, 4]

In [54]:
mylist.pop()

4

In [55]:
mylist

[1, 2, 3]

In [56]:
mylist.pop(1)

2

In [57]:
mylist

[1, 3]

In [58]:
#help: mylist.insert + tab+shift
# help: help(mylist.insert)

mylist.insert

In [61]:
def say_hello():
    print('hello')
    print('how are you?')

In [62]:
say_hello()

hello
how are you?

In [63]:
say_hello

In [64]:
def say_hello(name):
    print(f'Hello {name}')

In [66]:
say_hello('Tooran')

Hello Tooran

In [1]:
def say_hello(name = 'Tooran'):
    print(f'hello {name}')
    
say_hello()

hello Tooran

In [71]:
def add_num(num1,num2):
    return num1+num2

In [73]:
result = add_num(10,20)

result

In [74]:
result

30

In [75]:
def print_result(a,b):
    print(a+b)

In [76]:
print_result(10,20)

30

In [77]:
# no ouput cell

In [78]:
result = print_result(10,20)

30

In [79]:
result

In [80]:
type(result)

NoneType

In [84]:
def myfunc(a,b):
    print(a+b)
    return(a+b)

myfunc(10,20)

In [85]:
myfunc(10,20)

30

30

In [86]:
result = myfunc(10,20)

30

In [87]:
result

30

In [88]:
type(result)

int

In [89]:
def myfunc(a,b):
    return(a+b)
    print(a+b)

In [90]:
result = myfunc(10,20)

In [91]:
type(result)

int

In [92]:
add_num('Fatemeh','Nosrat')

'FatemehNosrat'

In [93]:
def even_check(number):
    result = number%2 == 0
    return result

In [95]:
even_check(2)

True

In [96]:
def even_check(number):
    return number%2 == 0

In [97]:
even_check(5)

False

In [98]:
# Return TRUE if any number is even inside the list

In [102]:
def check_even_list(num_list):
    
    for number in num_list:
        if number%2 == 0:
            return True
        else:
            pass

In [103]:
check_even_list([1,2,3,4])

True

In [104]:
check_even_list([1,3,5,7])

In [105]:
 def check_even_list(num_list):
        for number in num_list:
            if number%2 == 0:
                return True
            else:
                pass
        return False

In [106]:
check_even_list([1,2,3])

True

In [107]:
check_even_list([1,3,5])

False

In [110]:
def check_even_list(num_list):
    
    even_numbers = []
    
    for number in num_list:
        if number%2 == 0:
            even_numbers.append(number)
            
        else:
            pass
    return even_numbers

In [111]:
check_even_list([1,2,4,5,6,8])

[2, 4, 6, 8]

In [112]:
check_even_list([1,3,5])

[]