In [1]:
mystring = "Hello World"

In [2]:
mystring[::2]

'HloWrd'

In [3]:
mystring[::3
        ]

'HlWl'

In [4]:
mystring[2:7:2
        ]

'loW'

In [5]:
mystring[2:8:2]

'loW'

In [6]:
mystring[::-1]

'dlroW olleH'

In [7]:
# reverse the string

In [8]:
"Hello World"[0]

'H'

In [9]:
'tinker'[1:4]

'ink'

In [10]:
name = "Fatemeh"

In [11]:
name[0] = "T"

TypeError: 'str' object does not support item assignment

In [12]:
# names are immutable which means we cannot change them as above

In [13]:
name = "My name is " + name

In [14]:
name

'My name is Fatemeh'

In [15]:
n = 10 * name

In [16]:
n

'My name is FatemehMy name is FatemehMy name is FatemehMy name is FatemehMy name is FatemehMy name is FatemehMy name is FatemehMy name is FatemehMy name is FatemehMy name is Fatemeh'

In [17]:
2 + 3

5

In [18]:
"2" + "3"

'23'

In [19]:
last_name = "Nosrat"

In [20]:
last_name.split()

['Nosrat']

In [21]:
x = last_name

In [22]:
x.lower()

'nosrat'

In [23]:
x.upper()

'NOSRAT'

In [24]:
x

'Nosrat'

In [25]:
x = "My name is Fatemeh " + x

In [26]:
x

'My name is Fatemeh Nosrat'

In [27]:
x.split()

['My', 'name', 'is', 'Fatemeh', 'Nosrat']

In [28]:
x.split(a)

NameError: name 'a' is not defined

In [29]:
x.split('a')

['My n', 'me is F', 'temeh Nosr', 't']

In [30]:
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [31]:
print('The {} {} {}'.format('fox','brown','quick'))

The fox brown quick

In [34]:
print('The {} {}' . format('fox','brown'))

The fox brown

In [35]:
print('The {} {}'.format('fox'))

IndexError: Replacement index 1 out of range for positional args tuple

In [36]:
print('The {} {}'.format('fox',''))

The fox

In [37]:
print('The {} {}'.format('fox',""""""))

The fox

In [38]:
print('The {} {}'.format('fox',"",""))

The fox

In [39]:
print('The {} {}'.format('fox','brown','blue'))

The fox brown

In [40]:
print('The {2} {1} {0}' . format('fox', 'brown','blue'))

The blue brown fox

In [41]:
print('The{2}{1}{0}' . format('fox', 'brown','blue'))

Thebluebrownfox

In [42]:
print('The {0} {0} {0}'.format('fox'))

The fox fox fox

In [43]:
print('The {0} {1} {0}'.format('fox','brown'))

The fox brown fox

In [44]:
print('The {f} {b} {q}'.format(f = 'fox', b = 'brown', q = 'quick'))

The fox brown quick

In [45]:
result = 100/777

In [46]:
result

0.1287001287001287

In [47]:
print("The result was {}".format(result))

The result was 0.1287001287001287

In [48]:
print("The result was {r}".format(r=result))

The result was 0.1287001287001287

In [49]:
print("The result was {}".format(r=result))

IndexError: Replacement index 0 out of range for positional args tuple

In [50]:
print("The result was {r:1.3f}".format(r=result))

The result was 0.129

In [51]:
# float formatting follows "{value:width.precision f}"

In [52]:
# width: how long you want the string be

In [53]:
print("The result was {r:10.3f}".format(r=result))

The result was      0.129

In [54]:
result = 104.12345

In [55]:
print("The result was {r:1.2f}".format(r=result))

The result was 104.12

In [56]:
name ="Tooran"

In [57]:
print(f'Hello, her name is {name}')

Hello, her name is Tooran

In [58]:
name = "Sam"

In [59]:
age = 3

In [60]:
print(f'{name} is {age} years old')

Sam is 3 years old

In [61]:
my_list = [1,2,3,4]

In [62]:
my_list = ['string', 100, 23.3]

In [63]:
len(my_list)

3