In [1]:
# dictionary

In [35]:
d ={'k1': 123, 'k2': [0,1,2], 'k3': {'insideKey': 100}}

In [3]:
d['k2']

[0, 1, 2]

In [9]:
d['k3']

{'insideKey': 100}

In [8]:
d['k3']['insideKey']

100

In [10]:
d['k2'][2]

2

In [45]:
d = {'key1': ['a','b','c']}

In [46]:
d

{'key1': ['a', 'b', 'c']}

In [47]:
d['key1']

['a', 'b', 'c']

In [14]:
d['key1'][0]

'a'

In [16]:
mylist = d['key1']

In [17]:
mylist

['a', 'b', 'c']

In [18]:
letter = mylist [2]

In [19]:
letter

'c'

In [20]:
letter.upper()

'C'

In [21]:
d

{'key1': ['a', 'b', 'c']}

In [48]:
letter = d['key1'][2].upper()

In [49]:
d['key1'].pop()

'c'

In [50]:
d['key1']

['a', 'b']

In [51]:
 Letter = [letter]

In [52]:
Letter

['C']

In [53]:
d['key1']+Letter

['a', 'b', 'C']

In [54]:
Letter

['C']

In [55]:
letter

'C'

In [57]:
type(letter)

str

In [58]:
type(Letter)

list

In [59]:
d = {'k1':100, 'k2': 200}

In [60]:
d

{'k1': 100, 'k2': 200}

In [61]:
d['k3'] = 300

In [62]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [63]:
d['k1'] ='New Value'

In [64]:
d

{'k1': 'New Value', 'k2': 200, 'k3': 300}

In [65]:
d = {'k1': 100, 'k2': 200, 'k3': 300}

In [67]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [69]:
d.values()

dict_values([100, 200, 300])

d.items()

In [70]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [71]:
# dictionayr(): {}, keys, values, nested object,

In [72]:
# dictionary: {'key1': 'value 1', 'key2 : value 2'}

In [74]:
# dixtionary does not retain order and is not a sequence

In [75]:
# Tuples : immutable

In [76]:
 t = (1,2,3)

In [77]:
mylist = [1,2,3]

In [78]:
type(t)

tuple

In [79]:
type(mylist)

list

In [81]:
len(t)

3

In [82]:
t = ('one',2)

In [83]:
t

('one', 2)

In [84]:
t[0]

'one'

In [85]:
t[-1]

2

In [86]:
t = ('a','a','b')

In [87]:
t

('a', 'a', 'b')

In [88]:
t.count('a')

2

In [89]:
#how many times a occurs in the tuple

In [90]:
t.index('a')

0

In [91]:
# the first time "a" has occured in tuple

In [92]:
mylist =[1,2,3]

In [93]:
mylist[0] = 'New'

In [94]:
mylist

['New', 2, 3]

In [95]:
t[0]='New'

TypeError: 'tuple' object does not support item assignment

In [96]:
t[-1]

'b'

In [97]:
t

('a', 'a', 'b')

In [98]:
myset = set()

In [99]:
myset

set()

In [100]:
myset.add(1)

In [101]:
myset

{1}

In [102]:
myset.add(2)

In [103]:
myset

{1, 2}

In [104]:
myset.add(2)

In [105]:
myset

{1, 2}

In [107]:
# there are unique values in the set

In [108]:
mylist = [1,1,1,1,3,3,3,3]

In [109]:
mylist

[1, 1, 1, 1, 3, 3, 3, 3]

In [110]:
set(mylist)

{1, 3}

In [111]:
# there is no order in a set

In [112]:
True

True

In [113]:
true

NameError: name 'true' is not defined

In [114]:
# capital T

In [116]:
False

False

In [117]:
type(False)

bool

In [118]:
1 > 2

False

In [119]:
1 == 11

False

In [120]:
1==1

True

In [121]:
b = None

In [122]:
b

In [123]:
set([1,1,2,3])

{1, 2, 3}