In [2]:
# Libraries: contains functions
# numpy, matplotlib, pandas
# numpy
# matplotlib : for plotting charts and graphs
# pandas: 
# shortcut name: np
# instead of using numpy evertime we use np

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
# import the data set

In [6]:
dataset = pd.read_csv('Data.csv')

In [7]:
# features and response

In [8]:
x = dataset.iloc[:, :-1].values

In [10]:
dataset.iloc[:,1]

0    44.0
1    27.0
2    30.0
3    38.0
4    40.0
5    35.0
6     NaN
7    48.0
8    50.0
9    37.0
Name: Age, dtype: float64

In [12]:
dataset.iloc[:,0]

0     France
1      Spain
2    Germany
3      Spain
4    Germany
5     France
6      Spain
7     France
8    Germany
9     France
Name: Country, dtype: object

In [13]:
dataset.iloc[:,0].values

array(['France', 'Spain', 'Germany', 'Spain', 'Germany', 'France',
       'Spain', 'France', 'Germany', 'France'], dtype=object)

In [14]:
dataset.iloc[:,1].values

array([44., 27., 30., 38., 40., 35., nan, 48., 50., 37.])

In [16]:
y = dataset.iloc[:,-1].values

In [17]:
# -1 is the index of the last column