In [12]:



import numpy as np
import pandas as pd
from numpy.random import randn

In [14]:
np.random.seed(101)
outside = 'G1 G1 G1 G2 G2 G2'.split()

In [15]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [16]:
inside = [1, 2, 3, 1, 2, 3]

In [17]:
hier_index = list(zip(outside,inside))

In [18]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [19]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [20]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [22]:
df = pd.DataFrame(randn(6,2), hier_index, ['A','B'])

In [23]:
df

             A         B
G1 1  2.706850  0.628133
   2  0.907969  0.503826
   3  0.651118 -0.319318
G2 1 -0.848077  0.605965
   2 -2.018168  0.740122
   3  0.528813 -0.589001

In [24]:
df.loc['G1'].loc[1]

A    2.706850
B    0.628133
Name: 1, dtype: float64

In [25]:
df.loc['G1']

          A         B
1  2.706850  0.628133
2  0.907969  0.503826
3  0.651118 -0.319318

In [26]:
df.index.names

FrozenList([None, None])

In [28]:
df.index.names = ['Groups', 'Num']

In [29]:
df

                   A         B
Groups Num
G1     1    2.706850  0.628133
       2    0.907969  0.503826
       3    0.651118 -0.319318
G2     1   -0.848077  0.605965
       2   -2.018168  0.740122
       3    0.528813 -0.589001

In [30]:
df.loc['G1']

            A         B
Num
1    2.706850  0.628133
2    0.907969  0.503826
3    0.651118 -0.319318

In [31]:
df.loc['G1']['B']

Num
1    0.628133
2    0.503826
3   -0.319318
Name: B, dtype: float64

In [32]:
df.loc['G1'].loc[1]['B']

0.6281327087844596

In [33]:
df.xs('G1')

            A         B
Num
1    2.706850  0.628133
2    0.907969  0.503826
3    0.651118 -0.319318

In [35]:
df.xs(1, level ='Num')

               A         B
Groups
G1      2.706850  0.628133
G2     -0.848077  0.605965

KeyError: (1, 2)