In [11]:
import numpy as np 
numpy.random.randn(1)
# If I want to use randn(1), I need to write np.random.randn(1)
# but if I write 
# from numpy.random import randn
# then
# I can write randn(1)
# package: numpy
# method/function: randn

array([0.41213638])

In [12]:
from numpy.random import randn

In [13]:
import pandas as pd

In [14]:
np.random.seed(101)

In [40]:
df = pd.DataFrame(randn(5,4), ['A','B','C','D','E'], ['W','X','Y','Z'])

In [16]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [34]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [18]:
type(df)

pandas.core.frame.DataFrame

In [19]:
type(df['W'])

pandas.core.series.Series

In [20]:
df.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [21]:
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [41]:
df['new'] = df['W'] + df['Y']

In [23]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [44]:
# if we want to permanantely drop a column we use replace= True
df.drop('new',axis = 1,inplace = True)

KeyError: "['new'] not found in axis"

In [45]:
df.drop('E', axis = 0)
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [26]:
df.shape

(5, 5)

In [27]:
# selecting columns
df[['W','X']]

          W         X
A  2.706850  0.628133
B  0.651118 -0.319318
C -2.018168  0.740122
D  0.188695 -0.758872
E  0.190794  1.978757

In [28]:
# selecting rows
# method 1: loc
df.loc['A']

W      2.706850
X      0.628133
Y      0.907969
Z      0.503826
new    3.614819
Name: A, dtype: float64

In [29]:
df.iloc[0]
# method 2: iloc

W      2.706850
X      0.628133
Y      0.907969
Z      0.503826
new    3.614819
Name: A, dtype: float64

In [30]:
df.loc['B','Y'] # row B and column Y

-0.8480769834036315

In [31]:
df.loc[['A','B'],['W','Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077

In [32]:
df.iloc[[0,1],[0,2]]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077