In [1]:
firstname = 'Christopher'

In [2]:
lastname = 'Brooks'

In [3]:
print(firstname+' '+ lastname)

Christopher Brooks

In [4]:
print(lastname *3)

BrooksBrooksBrooks

In [5]:
print('Chris' in firstname)

True

In [7]:
firstname = 'christopher Arthur Hansen Brooks'.split(' ')[0]

In [9]:
firstname

'christopher'

In [10]:
lastname = 'Christopher Arthur Hansen Brooks'.split(' ')[-1]

In [11]:
lastname

'Brooks'

In [12]:
x = {'Christopher Brooks': 'brooksch@umich.edu', 'Bill Gates': 'billgates@microsoft.com'}

In [13]:
x['Christopher Brooks']

'brooksch@umich.edu'

In [14]:
x['Kevyen Collins-Thompson'] = 'kct@gmail.com'

In [15]:
x

{'Christopher Brooks': 'brooksch@umich.edu',
 'Bill Gates': 'billgates@microsoft.com',
 'Kevyen Collins-Thompson': 'kct@gmail.com'}

In [16]:
for name in x:
    print(x[name])

brooksch@umich.edu
billgates@microsoft.com
kct@gmail.com

In [17]:
for email in x.values():
    print(email)

brooksch@umich.edu
billgates@microsoft.com
kct@gmail.com

In [18]:
for name, email in x.items():
    print(name)

Christopher Brooks
Bill Gates
Kevyen Collins-Thompson

In [19]:
for name, email in x.items():
    print(name)
    print(email)

Christopher Brooks
brooksch@umich.edu
Bill Gates
billgates@microsoft.com
Kevyen Collins-Thompson
kct@gmail.com

In [20]:
x = ('Christopher', 'Brooks', 'brooksch@umich.edu')

In [21]:
fname, lname, email = x

In [22]:
fname

'Christopher'

In [23]:
lname

'Brooks'

In [24]:
email

'brooksch@umich.edu'

In [25]:
x = ('Christopher', 'Brooks', 'brooksch@umich.edu', 'Ann Arbor')

In [26]:
fname, lname, email = x

ValueError: too many values to unpack (expected 3)

In [27]:
print('Chris' +1)

TypeError: can only concatenate str (not "int") to str

In [28]:
print('Chris' + str(2))

Chris2

In [29]:
print('Chris' + '2')

Chris2

In [30]:
sales_record = {'price': 3.24,
               'num_items': 4,
               'person': 'Chris'}

In [31]:
sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

In [32]:
print(sales_statement.format(sales_record['person'],
                            sales_record['num_items'],
                            sales_record['price'],
                            sales_record['num_items']*sales_record['price']))

Chris bought 4 item(s) at a price of 3.24 each for a total of 12.96

In [33]:
# Dates and Times

In [34]:
import datetime as dt

In [35]:
import time as tm

In [36]:
tm.time()

1636598524.250417

In [39]:
dtnow = dt.datetime.fromtimestamp(tm.time())

In [40]:
dtnow

datetime.datetime(2021, 11, 10, 20, 43, 27, 380720)

In [41]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second

(2021, 11, 10, 20, 43, 27)

In [43]:
delta = dt.timedelta(days = 100)

In [44]:
delta

datetime.timedelta(days=100)

In [45]:
today = dt.date.today()

In [46]:
today

datetime.date(2021, 11, 10)

In [48]:
today - delta

datetime.date(2021, 8, 2)

In [50]:
today > today - delta

True